.NormalButton{
    width: 10vw;
    height: 6vh;
    background-color: black;
    color: white;
    margin: 1vh;
    border-radius: 20px;
}

.brown-button{
    background-color: brown;
}

.NormalButton:hover{
    background-color: coral;
}


.vertical-container{
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.inputField {
    width: 20vw;
    height: 5vh;
    margin: 1vh;
    background-color: rgba(256, 256, 256, 1);
    color: black;
}

.Main-Container {
    width: 98vw;
    height:98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Custom-header-1{
    color: white;
    stroke: black;
    font-size: 5vh;
    font-family:Arial;
}

.Backgrounds-image-Main {
    background-image: url("../Images/homepage.jpg");
    background-size: cover;
    background-position: center;
}

.Horizontal-Container-Custom-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    height: 7vh;
}

.Margin-Class {
    margin: 1vh;
}

.Text-Enrichment{
    font-size:large;
    font-family: Arial;
    font-weight: 600;
}

.top-alignment {
    width: 98vw;
    height: 98vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Custom-small-button {
    width: 7vw;
    height: 4vh;
    background-color: black;
    color: white;
    margin: 1vh;
    border-radius: 20px;
}

.Absolute-position-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.car-container {
    width: 100vw;
    height: 93vh;
    overflow-y: scroll;
    padding: 10px;
}