@page "/AdminManage"
@using CarPeak.Components.Classes
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject UserService UserService

<style>
    .admin-manage-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #f0f0f0;
        text-align: center;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

        .button-container button {
            margin: 10px 0;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

            .button-container button:hover {
                background-color: #0056b3;
            }

    .back-button {
        border-radius: 10px;
        color: deeppink;
        background-color: burlywood;
        margin-top: 20px;
        padding: 10px 20px;
        position: absolute; /* Added to position the button */
        top: 20px; /* Adjust this value to your preference */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust positioning */
        /* Add other button styles here */
    }
</style>

<div class="admin-manage-page">
    <button class="back-button" @onclick="NavigateToUserLoginPage">Tillbaka till  inlogning sidan</button> <!-- Add the back button here -->
    <h3>AdminManage</h3>
    @if (UserService.CurrentUser != null && UserService.CurrentUser.UserRole.ToLowerInvariant() == "admin")
    {
        <h3>Welcome, @UserService.CurrentUser.Username!</h3>
        <div class="button-container">
            <button @onclick="NavigateUserList">Show all users</button>
            <button @onclick="NavigateCarList">Show all cars</button>
            <button @onclick="NavigateBookList">Show all books</button>
        </div>
    }
    else
    {
        <p>You are not authorized to view this page.</p>
    }
</div>

@code {
    public void NavigateUserList()
    {
        NavigationManager.NavigateTo("/UserList");
    }

    public void NavigateCarList()
    {
        NavigationManager.NavigateTo("/CarList");
    }

    public void NavigateBookList()
    {
        NavigationManager.NavigateTo("/BookingList");
    }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
    private void NavigateToUserLoginPage()
    {
        NavigationManager.NavigateTo("/");
    }
}
