@page "/BookingList"
@using CarPeak.Components.Classes
@inject NavigationManager NavigationManager
@inject UserService UserService

<h3>BookingList</h3>
@if (UserService.CurrentUser != null && UserService.CurrentUser.UserRole.ToLowerInvariant() == "admin")
{
	<h3>Welcome, @UserService.CurrentUser.Username!</h3>
	<h3>Role: @UserService.CurrentUser.UserRole!</h3>
	<h2>Booking List</h2>
	<ul>
		@foreach (var booking in Bookings)
		{
			<li>
				<a href="@($"/BookingDetails/{booking.Id}")">
					@booking.Id
				</a>
			</li>
		}
	</ul>
}
else
{
	<p>You are not logged in.</p>
}
@code {
	[Parameter]
	public int Id { get; set; }

	private List<Booking> Bookings = new List<Booking>();

	protected override async Task OnInitializedAsync()
	{
		Bookings = await UserService.GetBookingsAsync();
	}

	private void NavigateToUser(string username)
	{
		NavigationManager.NavigateTo($"/BookingDetails/{Id}");
	}
}