@page
@model CarPeak.Models.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="login-container">
        <h2>Welcome to CarPeak</h2>
        <a asp-page="Login">Login</a>
    </div>
</body>
</html>
