@page "/"
@using CarPeak.Components.Classes
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject UserService UserService

<div class="Main-Container">
	<div class="vertical-container">
		<input class="inputField" placeholder="Användarnamn" @bind-value="@Username" />
		<div>
			<input name="UserPassword" type="@passwordInputType" class="inputField" @bind-value="@UserPassword" placeholder="Lösenord" />
			<input type="checkbox" @bind="isPasswordVisible" />
		</div>
	</div>
	<div>
		<button class="NormalButton black-button" @onclick="ToMainMenu">
			Logga in
		</button>
		<button class="NormalButton brown-button" @onclick="ToRegisterPage">
			Registrera
		</button>
	</div>
	<label class="Text-Enrichment" style="color:white">@status</label>
</div>

@code {
	private bool isPasswordVisible = false;
	private string Username;
	private string UserPassword;
	private string status;
	private string passwordInputType => isPasswordVisible ? "text" : "password";

	public void ToRegisterPage()
	{
		NavigationManager.NavigateTo("/UserRegisterPage");
	}

	public async Task ToMainMenu()
	{
		User user = await UserService.AuthenticateUserAsync(Username, UserPassword);
		if (user != null)
		{
			if (user.UserRole.ToLowerInvariant() == "admin")
			{
				UserService.CurrentUser = user;
				NavigationManager.NavigateTo("/AdminManage");
			}
			else
			{
				UserService.CurrentUser = user;
				NavigationManager.NavigateTo("/UserMainMenu");
			}
		}
		else
		{
			status = "wrong username or password";
		}
	}

}

