@page
@model CarPeak.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Logga in</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="login-container">
        <h2>Logga in</h2>
        <form method="post">
            <div>
                <label for="Username">Username:</label>
                <input type="text" id="Username" name="Username" />
            </div>
            <div>
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
a