@page "/"
@using CarPeak.Components.Classes
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject UserService UserService

<div class="Main-Container">
    <div class="vertical-container">
        <input class="inputField" placeholder="Username" @bind-value="@Username"/>
        <div>
            <input name="UserPassword" type="@passwordInputType" class="inputField" @bind-value="@UserPassword" placeholder="Password" />
            <input type="checkbox" @bind="isPasswordVisible"/>
        </div>
    </div>
    <div>
        <button class="NormalButton" @onclick="ToMainMenu">
            Login
        </button>
        <button class="NormalButton brown-button" @onclick="ToRegisterPage">
            Register
        </button>
    </div>
    <label>@status</label>
</div>

@code {
    private bool isPasswordVisible = false;
    private string Username;
    private string UserPassword;
    private string status;
    private string passwordInputType => isPasswordVisible ? "text" : "password";
    public void ToRegisterPage()
    {
        NavigationManager.NavigateTo("/UserRegisterPage");
    }
    public async Task ToMainMenu(){
        bool value = await UserService.AuthenticateUserAsync(Username, UserPassword);
        if(value == true)
        {
            NavigationManager.NavigateTo("/UserMainMenu");
        }
        else
        {
            status = "wrong username or password";
        }
    }
}